# Node.js dependencies
node_modules/

# Archivos de compilación y distribución
/dist
/public

# Archivos de entorno
.env

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de registro y temporales
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de lock (si usas yarn, puedes ignorar package-lock.json)
package-lock.json
